@{
    ViewBag.Title = "About BENET";
    ViewBag.Message = "Bringing Every Need to Exert Training";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BENET is a Web Application That uses Weather API</p>
