@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BENET</h1>
    <p class="lead">BENET (Bringing Every Need to Exert Training) is a website that helps YOU to exercise without a problem</p>
    <p><a href="https://github.com/adhyaksazhalifunnas/BENET" class="btn btn-primary btn-lg">BENET GitHub Repository &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Adhyaksa Zhalifunnas</h2>
        <p>
            Teknologi Informasi 2020
        </p>
        <p>
            20/463586/TK/51578
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/adhyaksa-zhalifunnas-4139a1157">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Akbar Sigit Putra</h2>
        <p>
            Teknologi Informasi 2020
        </p>
        <p>
            20/463590/TK/51582
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/akbar-sigit-putra-4a99271b7/">Learn more &raquo;</a></p>
    </div>
</div>